@import "tailwindcss";

body {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.bubble {
  border-radius: calc(infinity * 1px);
  height: 25px;
  width: fit-content;
  color: white;
  background-color: darkslategrey;
  padding-left: 10px;
  padding-right: 10px;
}

.stretch {
  grid-column: span 2;
}

.hs {
  grid-row: span 2;
}

ul {
  list-style-type: disc;
}
